.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 30px 10px 10px;
}

table#calculator {
    table-layout: fixed;
    width: 250px;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 20px;
}

tr:first-child th {
    padding-bottom: 20px;
    height: 50px;
}

input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: right;
    font-size: 25px;
}

td {
    height: 30px;
    padding: 2px;
}

button {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #ffffff;
    /* nền trắng */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    /* bóng nhẹ */
    color: #333;
    font-weight: 600;
    /* chữ đậm */
}

button:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
    background-color: #e0e0e0;
}

#equal {
    background-color: #4486f3;
    color: white;
}