div.wraper {
    width: 50vw;

}

div.col {
    text-align: center;
}

p {
    text-align: center;
}

#title {
    text-align: left;
}

#title,
#result {
    color: red;
}

div.col {
    display: inline-block;
    margin: 0 10px;
}

button {
    background-color: rgb(143, 130, 207);
    border-radius: 5px;
    color: white;
    padding: 2px 10px;
}

button:hover {
    background-color: red;
    color: black;
}

button:active {
    background-color: aqua;
    color: red;
}