* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.containt-cv {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.head-title {
    padding: 10px 15px;
    background-color: cadetblue;
    border-radius: 20px;
    color: white;
}

.line {
    height: 1px;
    background-color: rgba(81, 91, 81, 1);
    /* cùng màu với nút */
    margin-left: 3px;
    flex-grow: 1;
}



/* CONTENT LEFT */
.content.left {
    background-color: rgba(81, 92, 81, 1);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.profile-card {
    text-align: center;
    margin: 30px auto;

}

.infor {
    flex-grow: 1;
    background-color: rgba(48, 55, 48, 1);
    color: white;
}

.avatar-wrapper {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 10px solid #ccc;
    /* viền màu xám */
    border-radius: 50%;
    /* bo tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact {
    padding-top: 10px;
    padding-bottom: 10px;
}

.infor.indent {
    padding-left: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}


/* CONTENT RIGHT */
.content.right {
    width: 70%;
    height: 100%;
    padding: 10px 30px;
}

.role-time {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin: 5px 0;
}

.skill-items.indent {
    margin-left: 30px;
}

.skill-items {
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill {
    margin: 5px 0;
}