body {
    margin: 0;
}

.fvf {
    background-color: green;
    width: 100%;
    height: 40vh;
    padding-top: 20px;
}

/* fv stands for favorite */
#fv,
#sr {
    width: 500px;
    height: 210px;
    margin: 0 auto;
    background-color: white;
    padding-top: 1px;
}

#fv h2 {
    text-align: center;
    background-color: red;
    color: white;
    margin-top: 2px;
}


#fv label {
    display: inline-block;
    width: 130px;
    text-align: right;
    margin-bottom: 10px;
    color: blue;
}

#fv span {
    display: inline-block;
    width: 100px;
    color: orange;
}

#fv .checkbox-group {
    width: 350px;
    vertical-align: top;
}

#fv .button-group,
#sr .button-group {
    margin-top: 5px;
    width: 310px;
    text-align: right;
}

#fv input:nth-of-type(2) {
    size: 10;
}

#sr {
    margin-top: 50px;
    height: 330px;
    padding-left: 10px;
    background-color: rgba(255, 255, 0, 0.3);
}

#sr h2 {
    background-color: #d4fdd6;
    padding-top: 5px;
    padding-bottom: 5px;
}

#sr label {
    display: inline-block;
    width: 130px;
    margin-bottom: 10px;
    color: rgba(0, 0, 175, 0.7);
}

#sr .button-group {
    width: 266px;
}

#address {
    vertical-align: top;
}

#class {
    margin-top: 10px;
}