* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.containt-cv {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.content.left {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.profile-card {
    text-align: center;
    margin: 30px auto;
}

.infor {
    flex-grow: 1;
    background-color: gray;
    color: white;
}

#avatar {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.contact {
    padding-top: 10px;
    padding-bottom: 10px;
}

.infor.indent {
    padding-left: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-title {
    padding: 10px;
    background-color: cadetblue;
    border-radius: 20px;
    color: white;
}

.line {
    height: 1px;
    background-color: #b8981a;
    /* cùng màu với nút */
    margin-left: 3px;
    flex-grow: 1;
}


.content.right {
    width: 70%;
    height: 100%;
    background-color: blueviolet;
    padding: 40px;
}